
canvas{
    display: block;
    margin: 0 auto;
}

h1 {
    
    width: 100%;
    text-align: center;
	font-family: sans-serif;
	color: rgb(13, 31, 41);
    font-size: 30px;
    left: 0; right: 0;
    position: absolute;
}

.GameScreen {
	padding-bottom: 1%;
}