body
{
	background-color: rgb(78, 171, 222);
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.container
{
	padding: 10px;
	/*height: 100vh;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 
{
	font-size: 30px;
	text-transform: uppercase;
}

#gridBoard
{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.rowcol
{
	height: 125px;
	width: 180px;
	background-color: rgb(129, 222, 214);
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 10px solid black;
	border-right: 10px solid black;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	font-size: 125px;
	color: white;
}

.rowcol:hover
{
	background-color: lightgrey;
}

.col:hover
{
	background-color: lightgrey;
}

button 
{
	width: 125px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: rgb(129, 222, 214);
	color: white;
	text-align: center;
	font-size: 18px;
	transition: 200ms transform;
}

button:hover 
{
	background-color: rgb(114, 194, 207);
	cursor: pointer;
	transform: translateY(-2px);
}
.playerX
{
  background-image: url('../pictures/cross.jpg')
}

.playerO
{
  background-image: url('../pictures/circle.png')
}