<!DOCTYPE html>
<html>
<head>
  <title>All In One</title>
  <link rel="stylesheet" type="text/css" href="../../../public/css/style.css">
  <meta charset = "utf-8">
  <title>Tic Tac Toe</title>
  <link rel = "stylesheet" href = "../../../public/css/tictactoe.css" ></link>
  <script src = "../../../public/js/tictactoe.js" charset = "utf-8"></script>
</head>
<body>
	<div class="Stay">
		<h2>All In One</h2>
		<div class="NavBar">
			<li class="Nav Active"><a href="/" class="NavLink">Home</a></li>
			<li class="Nav"><a href="leader" class="NavLink">Leader Board</a></li>
			<li class="Nav DropDown">
				<a href="allgames" class="NavLink DropDown">Games</a>
				<div class="DropList">
					<a href="singleplayer">Single Player</a>
					<a href="multiplayer">Multi-Player</a>
					<a href="allgames">All</a>
				</div>
			</li>
			<li class="Nav" id="about"><a href="about" class="NavLink">About Us</a></li>
		</div>
	</div>
  <div class="GameScreen">
    <h3 id = "player">playerX</h3>
      <div class = "grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
  </div>
</body>
</html>