<!DOCTYPE html>
<html>
<head>
	<title>All In One- About Us</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>
<body>
	<div class="Stay">
		<h2>All In One</h2>
		<div class="NavBar">
			<li class="Nav Active"><a href="/" class="NavLink">Home</a></li>
			<li class="Nav"><a href="leader" class="NavLink">Leader Board</a></li>
			<li class="Nav DropDown">
				<a href="allgames" class="NavLink DropDown">Games</a>
				<div class="DropList">
					<a href="singleplayer">Single Player</a>
					<a href="multiplayer">Multi-Player</a>
					<a href="allgames">All</a>
				</div>
			</li>
			<li class="Nav" id="about"><a href="about" class="NavLink">About Us</a></li>
		</div>
	</div>
	<div class="PageNotes">
		<p>“All-in-One“ is an all-encompassing website, where our goal is to provide a free one-stop-shop for all your favorite classic games that you know and love. This includes games like Hangman, Tetris, Tic-Tac-Toe, and more!</p>
		<p>This website is being developed by Izzy Ivan, Jessica Braendle, Brendan Tischbein, Steven Klein, and Ismail Dedic - a group of students at Oakland University - as a learning experience in game and web development. </p>
		<p>More updates to the website and additional games are coming soon!</p>
	</div>
</body>
</html>