<!DOCTYPE html>
<html>
<head>
	<title>All In One</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>
<body>
	<div class="Stay">
		<h2>All In One</h2>
		<div class="NavBar">
			<li class="Nav"><a href="index.html" class="NavLink">Home</a></li>
			<li class="Nav"><a href="leader.ejs" class="NavLink">Leader Board</a></li>
			<li class="Nav DropDown Active">
				<a href="allgames.ejs" class="NavLink DropDown">Games</a>
				<div class="DropList">
					<a href="single.ejs">Single Player</a>
					<a href="multi.ejs">Multi-Player</a>
					<a href="allgames.ejs">All</a>
				</div>
			</li>
			<li class="Nav" id="about"><a href="about.ejs" class="NavLink">About Us</a></li>
		</div>
	</div>
	<a href="hangman/UI.ejs" class="Button Game">Hangman</a>
	<a href="tictactoe/tictactoe.ejs" class="Button Game">TicTacToe</a>
</body>
</html>